@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Set-up base colors */
:root {
    --mainColordark: #1f2937;
    --mainColorlight: #F9FAF8;
    --buttonColor: #3882f6;
    --lightGrey: #e5e7eb;
}
/* Set up box model  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* header, footer, main, button */
header, footer {
    background-color: var(--mainColordark);
    display: flex;
    align-items: center;
    padding: 24px 200px;
}

header { 
    flex-grow: 0; /* from body flex */
    justify-content: space-between; 
}

.headerLogo {
    font-size: 24px;
    color: var(--mainColorlight);
}

header a {
    text-decoration: none;
    color: var(--lightGrey); 
    font-size: 18px;
}

header li {
    list-style: none;
    margin: 0 12px;
}

header ul {
    display: flex;
}

footer {
    color: var(--mainColorlight);
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;}

button {
    background-color: var(--buttonColor);
    align-self: flex-start;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 700; 
    color: var(--lightGrey);
    border-radius: 6px;
    padding: 5px 24px;
    border-style: none;
    margin: 32px 0;
}

    /* HERO SECTION */

.heroSection {
    flex: 1;
    display: flex;
    background-color: var(--mainColordark);
    padding: 50px 200px;}

.leftHero {
    display: flex;
    flex-direction: column;
    width: 50%;}

.leftHero h2 {
    font-size: 48px;
    font-weight: 900; 
    color: var(--mainColorlight);}

.leftHero p {
    font-size: 18px;
    color: var(--lightGrey);}

.rightHero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #818181;
    border-radius: 5px;}

.rightHero p {
    color: var(--lightGrey);
    text-align: center;}

    /* INFOSECTION */

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 50px 250px;}

.infoText {
    font-size: 36px;
    font-weight: 900;
    color: var(--mainColordark);
    margin-bottom: 48px;}

.cardImage {
    height: 180px;
    width: 180px;
    border-radius: 15px;
    border: solid var(--buttonColor) 4px;
    margin: auto}

.cardText {
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #818181;
    text-align: center;}

.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;}

.card {
    width: 180px;
    margin: 0 24px;}

/* QUOTESECTION */
.quoteSection {
    background-color: var(--lightGrey);
    padding: 120px 250px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--mainColordark);
    margin: 0 24px;
    text-align: justify;}

 .quoteAuthor {
     text-align: right;
     font-weight: bold;
     font-size: 24px;
     margin-right: 24px;
 }
 
 /* ACTIONSECTION */

 .actionSection, .actionContainer {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .actionSection {
    padding: 120px 180px;
    color: white;
 }

 .actionContainer {
    padding: 40px 120px;
    background-color: var(--buttonColor);
    width: 100%;
    /* margin: 0 32px; */
    border-radius: 12px;
 }

 .actionTitle {
    font-size: 22px;
    font-weight: bold;
 }

 .actionSubtitle {
     color: var(--lightGrey);
 }

 .actionContainer button {
    border: solid var(--lightGrey) 1px;

 }